<div class="btn-group" *ngIf="(auth.isAuthenticated$ | async) === false">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
    </button>
    <ul class="dropdown-menu">
        <li><app-login-button class="dropdown-item"></app-login-button></li>
        <li><app-signup-button class="dropdown-item"></app-signup-button></li>
    </ul>
</div>
<div *ngIf="auth.isAuthenticated$ | async">
    <app-logout-button></app-logout-button>
</div>